
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica;
}

li span{
    margin-left: 10px;
}
li button
{
    margin-left: 10px;
}
li{
    margin-bottom: 30px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
   
}
.container {
    background: #ffffff;
    padding: 20px 25px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: solid black 3px;
    
    
}




#mytext{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}
#status{
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
#btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;

}

#btn:disabled {
    background-color: hsl(0, 87%, 70%);
    cursor: not-allowed;
}
.not-started
{
    background-color: rgb(126, 126, 245);
    color: white;
    padding: 10px;
    border: none;
    
    border-radius: 5px;
}
.in-progress
{
    background-color: rgb(250, 250, 99);
    color: rgb(13, 13, 13);
    padding: 10px;
    border: none;
    border-radius: 5px;
}
.complete
{
    background-color: rgb(74, 246, 74);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;

}
ul{
    background-color: rgb(206, 248, 248);
    padding: 30px;
    border: none;
    border-radius: 10px;
}
li{
    background-color: #f89999;
    padding: 15px;
    border: none;
    border-radius: 10px;

}